.container {
  display: flex;
  flex-direction: column;
}

.movielist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.latestshows {
  margin-top: 10%;
  align-self: start;
  font-weight: 500;
  font-size: 1.3rem;
  color: rgb(100, 100, 100);
}
